body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.highlight{
    color: orange;
}
.first-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 1%;
}
.first-width img{
    width: 100%;
}
.ab{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(122, 94, 83), rgb(218, 56, 28) );
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.ic{
    border-radius: 35px;
}
.banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}